html, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.slide1Header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-style: italic;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,
    #bd33c4,
    #DE498E, 
    #FF5F58, 
    #FC9144, 
    #f8c330e1, 
    #FBAB19, 
    #FD9301, 
    #FE4A2B, 
    #FF0055
    );
    background-size: 2000% 2000%;
    animation: backgroundChange 15s ease infinite;
    transform: none;
}
.slide2 {
    background: black;
}
#starimg {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
#moonimg {
    display: block;
    width: 30px;
    height: 30px;
    top: 17px;
    right: 33%;
    left: 66%;
    position: absolute;
    filter: brightness(5);
    filter: contrast(0);
    filter: blur(0.7px);
    filter: opacity(0.95);
    animation: moonScroll 0.5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    transform: rotate(-40deg);
    transform-origin: 0px 500px;
}
#moonimg::before {
    transform: rotate(-30deg);
}
button.prev, button.next {
    border-radius: 8px;
    position: fixed;
    transition-duration: 0.4s;
    border-color: white;
    border-style: none;
    padding: 4pt;
}
button.prev {
    left: 5%;
    bottom: 5%;
}
button.next {
    right: 5%;
    bottom: 5%;
}
.prev:hover, .next:hover, .prev:focus, .next:focus {
    background-color: #ff245b;
    color: white;
    outline: none;
}
@keyframes backgroundChange {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes moonScroll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}
