html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#maindiv {
    position: relative;
}
.slide1Header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: fixed;
    font-style: italic;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,
    #99a2ab,
    #000000, 
    #0a908bc7, 
    #3800ee, 
    #3838b1e1, 
    #034c58d7, 
    #131414, 
    #07427d, 
    #0022ffe1
    );
    background-size: 2000% 2000%;
    animation: backgroundChange 15s ease infinite;
    transform: none;
}
.slide2 {
    background: linear-gradient(whitesmoke, grey, black);
    justify-content: center;
    text-align: center;
    overflow: scroll;
    position: relative;
    color: white;
}
.slide3 {
    width: 100%;
    height: 100%;
    background: black;
    position: relative;
}
.slide4 {
    overflow: hidden;
    text-align: center;
    background: black;
    color: whitesmoke;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    align-items: center;
}
.tech {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(7, 189, 7, 0.898);
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 100%;
    padding: 2% 2%;
}
#robotbodytext {
    font-size: 10pt;
}
#blinking {
    animation: blinking 1s infinite;
}
#matrix {
    width: 100%;
    height: 100%;
    filter: opacity(0.3);
}
.textbody {
    color: white;
    text-align: left;
    background-color: rgba(83, 83, 83, 0.258);
    position: absolute;
    padding-left: 1%;
    width: 46%;
    left: 27%;
    right: 27%;
    top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    animation: headerAppear 1s ease-in-out infinite;
    animation-iteration-count: 1;
    word-wrap: break-word;
}
p.b {
    font-size: 9pt;
}
.glitch {
    text-shadow:
        -0.025em -0.5em 0 rgba(255, 0, 0, .5),
        0.05em 0 0 rgba(0, 255, 0, .5),
        0.025em 0.5em 0 rgba(0, 0, 255, .5);
    
    animation: glitch 1s linear infinite;
    position: relative;
}
.shadow {
    text-shadow:
        -0.025em -0.5em 0 rgba(255, 0, 0, .5),
        0.05em 0 0 rgba(0, 255, 0, .5),
        0.025em 0.5em 0 rgba(0, 0, 255, .5);
}
.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}
.glitch span:first-child {
    animation: glitch 0.75s linear infinite;
    color: red;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
    animation: span1 5s infinite;
    z-index: 1;
}
.glitch span:last-child {
    animation: glitch 2s linear infinite;
    color: blue;
    animation: span2 2s infinite;
}
@keyframes span1 {
    0% { filter: opacity(1); }
    50% { filter: opacity(1); }
    51% { filter: opacity(0); }
    to { filter: opacity(0); }
}
@keyframes span2 {
    0% { filter: opacity(1); }
    20% { filter: opacity(1); }
    21% { filter: opacity(0); }
    100% { filter: opacity(0); }
}
#starimg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#moonimg {
    display: block;
    width: 30px;
    height: 30px;
    top: 17px;
    right: 33%;
    left: 66%;
    position: absolute;
    filter: brightness(5);
    filter: contrast(0);
    filter: blur(0.7px);
    filter: opacity(0.95);
    animation: moon 90s ease-in-out infinite;
    transform-origin: 75% 500px;
}
button.prev, button.next {
    border-radius: 8px;
    position: fixed;
    transition-duration: 0.4s;
    border-color: white;
    border-style: none;
    padding: 4pt;
}
button.prev {
    left: 5%;
    bottom: 5%;
}
button.next {
    right: 5%;
    bottom: 5%;
}
.prev:hover, .next:hover, .prev:focus, .next:focus {
    background-color: #ff245b;
    color: white;
    outline: none;
}
@keyframes backgroundChange {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes moon {
    50% {
        transform: rotate(-100deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes headerAppear {
    from {
        filter: opacity(0);
        top: 50px;
    }
    to {
        filter: opacity(1);
        top: 20px;
    }
}
@keyframes glitch {
    0% {
        text-shadow:
        -0.025em -0.5em 0 rgba(255, 0, 0, .5),
        0.05em 0 0 rgba(0, 255, 0, .5),
        0.025em 0.5em 0 rgba(0, 0, 255, .5);
    }
    14% {
        text-shadow:
        -0.025em -0.5em 0 rgba(255, 0, 0, .5),
        0.05em 0 0 rgba(0, 255, 0, .5),
        0.025em 0.5em 0 rgba(0, 0, 255, .5);
    }
    15% {
        text-shadow:
        0.025em 0.5em 0 rgba(255, 0, 0, .5),
        -0.05em -0.025em 0 rgba(0, 255, 0, .5),
        0.5em -0.5em 0 rgba(0, 0, 255, .5);
    }
    49% {
        text-shadow:
        0.025em 0.5em 0 rgba(255, 0, 0, .5),
        -0.05em -0.025em 0 rgba(0, 255, 0, .5),
        0.5em -0.5em 0 rgba(0, 0, 255, .5);
    }
    50% {
        text-shadow:
        -0.5em -0.5em 0 rgba(255, 0, 0, .5),
        0.025em 0 0 rgba(0, 255, 0, .5),
        -0.025em -0.5em 0 rgba(0, 0, 255, .5);
    }
    99% {
        text-shadow:
        -0.5em -0.5em 0 rgba(255, 0, 0, .5),
        0.025em 0 0 rgba(0, 255, 0, .5),
        -0.025em -0.5em 0 rgba(0, 0, 255, .5);
    }
    100% {
        text-shadow:
        0.025em 0.5em 0 rgba(255, 0, 0, .5),
        -0.05em 0 0 rgba(0, 255, 0, .5),
        -0.025em 0.5em 0 rgba(0, 0, 255, .5);    
    }
}
@keyframes blinking {
    0% {
        filter: opacity(1);
    }
    49% {
        filter: opacity(1);
    }
    50% {
        filter: opacity(0);
    }
    99% {
        filter: opacity(0);
    }
}
